/* Inserted global page elements */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Inserted styling to body elements */

body {
    background-color: #d9dcd6;
}


/* Inserted styling to the Header */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}


/* Inserted global styling for paragraph elements in bottom page boxes */

p {
    font-size: 16px;
}


/* Below is the code for rendering the image in the center of the webpage*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* Inserted Styling for the 3 boxes at the bottom left of the page */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* Inserted Styling for the "Search Engine Optimization" box images and the "Social Media Marketing" box images */

.float-left {
    float: left;
    margin-right: 25px;
}


/* Inserted Styling for the "Online Reputation Management" box images  */

.float-right {
    float: right;
    margin-left: 25px;
}


/* Inserted Styling for "Search Engine Optimization" box */

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* Inserted styling for "Online Reputation Management" box */

.online-reputation-management img {
    max-height: 200px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* Inserted styling for "Social Media Marketing" box */

.social-media-marketing img {
    max-height: 200px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* Inserted Styling to the "Benefits" box located on the lower right section of the page */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/* Inserted Styling to the "Lead Generation" items */

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}


/* Inserted styling to the "Brand Awareness" items */

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand img {
    display: block;
    max-width: 150px;
    margin: 10px auto;
}

.benefit-brand h3 {
    text-align: center;
    margin-bottom: 10px;
}


/* Inserted styling to the "Cost Management" items */

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}


/* Inserted styling for the footer of the page*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}